.hero_sec__ {
  position: relative;

  .hero_figure {
    @include p-bottom(550, 1440);
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        0.99deg,
        rgba(31, 62, 99, 0.58) 4.92%,
        rgba(80, 118, 164, 0.58) 57.82%,
        rgba(255, 255, 255, 0) 95.14%
      );
      z-index: 1;
    }

    // @include xs {
    //   height: 350px;
    // }
  }

  .hero_wrapper {
    position: relative;
  }

  .hero_desc {
    position: absolute;
    bottom: 17.5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;

    @include sm {
      width: 100%;
      padding: 0 15px;
    }
  }

  .hero_title__ {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
    line-height: 33px;

    @include xs {
      font-size: 2.4rem;
      margin-bottom: 5px;
    }

    span {
      font-weight: 800;
      text-transform: uppercase;
    }
  }

  .hero_sub_title__ {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 20px;
    color: #fff;

    @include xs {
      // font-size: 1.6rem;
      margin-bottom: 10px;
    }
  }

  .hero_link__ {
    display: flex;
  }

  .main_link {
    min-width: 169px;

    @include xs {
      max-height: 40px;
    }
  }
}

.home_about_us,
.products_more_solid {
  background-color: $secondaryColor;
}

.about_us_wrapper {
  background-color: $primaryColor;
  padding: 50px 30px;
  padding-inline-end: calc((527px / 2) + 30px);
  position: relative;
  width: calc(100% - (527px / 2));

  .image_wrapper {
    position: absolute;
    width: 527px;
    bottom: 35px;
    inset-inline-end: calc(-527px / 2);
    border: 7px solid #fff;

    .figure__ {
      max-width: 527px;
      @include p-bottom(465, 527);
    }
  }

  .play_video {
    position: absolute;
    background-color: $primaryColor;
    inset-inline-end: 0;
    bottom: 0;
    padding: 25px 25px 31px;

    .figure__ {
      display: flex;
      justify-content: center;
      margin-bottom: 14px;
      cursor: pointer;
    }
    .title {
      color: #fff;
      font-size: 1.4rem;
      font-weight: 700;
    }

    @include xxs {
      padding: 15px;
      .figure__ {
        width: 60px;
      }
    }
  }

  .main_link {
    min-width: 169px;
  }
}

@include sm {
  .about_us_wrapper {
    padding-inline-end: 30px;
    width: auto;

    .about_us_desc {
      margin-bottom: 30px;
    }

    .image_wrapper {
      position: unset;
      max-width: 527px;
      width: auto;
      margin: 0 auto;
    }
  }
}

.home_about_us {
  text-align: start;

  .title-products {
    margin-bottom: 30px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #000;

    @include sm {
      margin-bottom: 15px;
    }
  }
}

.home_our_partners {
  background-color: rgba(#fff, 0.55);

  .swiper-slide {
    &::before {
      position: absolute;
      content: "";
      top: 50%;
      transform: translateY(-50%);
      inset-inline-end: -2%;
      height: 161px;
      width: 1px;
      background-color: #dddddd;
    }
  }
}
