.footer_contacts_links_wrapper__ {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.footer_sec__ {
  position: relative;
  background-blend-mode: overlay;
  background-size: cover;
  background-color: $primaryColor;
  padding-top: 55px;
  overflow: hidden;
}

.footer_logo__ {
  margin-bottom: 15px;
  max-width: 120px;
  max-height: 350px;
  filter: brightness(0) invert(1);

  @include sm {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
}

.footer_parg {
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;

  @include sm {
    text-align: center;
  }
}

.footer_head__ {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
  text-align: start;

  @include sm {
    display: none;
  }
}

.footer_list__ {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  margin: 0 auto;
  column-gap: 40px;
  row-gap: 10px;
  margin-bottom: 40px;
  padding: 0;
  margin-inline-start: 25px;

  @include sm {
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    display: none;
  }

  @include xs {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }

  a {
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    display: flex;
    align-items: center;
    text-align: start;
    gap: 15px;
    width: fit-content;
    position: relative;

    @include dir {
      font-size: 12px;

      // @include xxs {
      //   font-size: 7px;
      // }
    }

    img {
      max-width: 15px;
      max-height: 15px;
    }

    &::before {
      position: absolute;
      content: "";
      transition: 0.5s;
      background-image: url("/assets/images/shapes/footer_icons/logo_before.svg");
      // filter: invert(1);
      background-repeat: no-repeat;
      width: 17px;
      height: 12px;
      inset-inline-start: -25px;
    }

    &:hover {
      opacity: 0.8;
      color: $secondaryColor;

      // &::before {
        // filter: invert(60%) sepia(46%) saturate(5515%) hue-rotate(15deg)
        //   brightness(99%) contrast(84%);
      // }
    }
  }
}

.footer_contacts {
  li {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.footer_socials__ {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(33px, 1fr));
  // gap: 12px;
  // grid-template-rows: 45px;
  @include sm {
    justify-content: center;
  }

  .li__ {
    &:not(:last-child) {
      margin-inline-end: 12px;
    }

    @include xxs {
      &:not(:last-child) {
        margin-inline-end: 5px;
      }
    }
  }

  .link__ {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    transition: 0.5s;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;

    img {
      filter: none;
    }

    &:hover {
      background-color: #fff;

      img {
        filter: invert(1) !important;
      }
    }
  }
}

.copyrights_content___ {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 15px 0;
  color: #fff;
  margin: 0;
  font-size: 18px;
  background-color: $primaryColor;
  border: 0;

  @include md {
    font-size: 14px;
  }

  @include sm {
    padding: 20px 0;
    justify-content: center;
  }

  @include xxs {
    font-size: 8px;
  }

  .copyright_icon__,
  .copyright_logo__ {
    filter: brightness(0) invert(1);
  }

  .copyright_icon__ {
    margin-inline-end: 10px;
  }

  .copyright_logo__ {
    margin-inline-start: 10px;
  }
}
